body {
  font-family: Roboto, Arial;
  color: #454545;
  font-size: 16px;
  margin: 2em auto;
  max-width: 800px;
  padding: 1em;
  line-height: 1.4;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #000;
  }
  html body {
    color: #d9d9d9;
  }
  html blockquote {
    color: #d3c9be;
  }
  html blockquote:before {
    color: #b8b8b8;
  }
  html a {
    color: #00a2e7;
  }
  html a:visited {
    color: #ca1a70;
  }
}
a {
  color: #07a;
}
a:visited {
  color: #941352;
}
p.st {
  margin-top: -1em;
}
blockquote {
  color: #456;
  margin-left: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
blockquote span {
  float: left;
  margin-left: 1rem;
  padding-top: 1rem;
}
blockquote author {
  display: block;
  clear: both;
  font-size: 0.6em;
  margin-left: 2.4rem;
  font-style: oblique;
}
blockquote author:before {
  content: "–";
  margin-right: 0.5em;
}
blockquote:before {
  font-family: Times New Roman, Times, Arial;
  color: #666;
  content: open-quote;
  font-size: 2.2em;
  font-weight: 600;
  float: left;
  margin-top: 0;
  margin-right: 0.2rem;
  width: 1.2rem;
}
blockquote:after {
  content: "";
  display: block;
  clear: both;
}
@media screen and (max-width: 500px) {
  body {
    text-align: left;
  }
  blockquote span {
    width: 80%;
  }
  blockquote author {
    padding-top: 1em;
    width: 80%;
    margin-left: 15%;
  }
  blockquote author:before {
    content: "";
    margin-right: inherit;
  }
}

details[open] {
  padding-bottom: 30px;
}

details summary {
  font-weight: bold;
  padding: 0.5em;
}

.summary-heading {
  margin-top: 20px;
  font-size: 24px;
}

table {
  border-top: 2px dotted #ddd;
  border-left: 4px solid #777;
  box-shadow: 2px 2px #ddd;
  border-collapse: collapse;
  font-size: 14px;
  text-align: left;
  font-family: Jetbrains Mono, mono;
  line-height: 160%;
}

@media (prefers-color-scheme: dark) {
  table {
    border-top: 2px dotted #777;
    border-left: 4px solid #bbb;
    box-shadow: 2px 2px #777;
  }
}

thead {
  border-bottom: 0.08333rem solid black;
}

thead th {
  font-weight: bold;
  padding: 0.3rem 0.4rem;
}

tbody td {
  padding: 0.3rem 0.4rem;
  border: 0.08333rem solid #bfbfbf;
}

tbody td:nth-child(1) {
  font-weight: 500;
  width: 150px;
}

tbody td:nth-child(2) {
  font-weight: 400;
  width: 400px;
}

span[title] {
  text-decoration-line: underline;
  text-decoration-style: dashed;
}
