---
interface Props {
  backgroundColor?: string;
}

const { backgroundColor } = Astro.props;
---

<style define:vars={{ backgroundColor }}>
  .card {
    width: min(340px, 100%);
    min-height: 100px;

    background-color: var(--backgroundColor);
    border: 1px solid #ededf0;
    border-radius: 24px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
  }
</style>

<div class="card"><slot /></div>
