<style>
  .list {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 10px;
  }

  .list a {
    padding-left: 10px;
  }

  a {
    font-size: 18px;
  }
</style>

<div class="list" id="table-of-contents">
  <h2>Table of contents</h2>

  <a href="#taiji">Taiji Remote (2024 - 2025)</a>
  <a href="#electronics">PCB Design & Development (2025 - now)</a>
  <a href="#weezem">Weezem (2021 - now)</a>
  <a href="#devops">Dev Ops (2021 - now)</a>
  <a href="#spart">SPART (2021 - 2024)</a>
  <a href="#opengl">OpenGL Engine (2023)</a>
  <a href="#turing-complete">Turing Complete (CPU design) (2023)</a>
  <a href="#bugali">Bugali (2020)</a>
  <a href="#gameboy">Game Boy Emulator (2019)</a>
  <a href="#monimalz">Monimalz (2018 - 2019)</a>
</div>
