---
import "./css/css-reset.astro";
import "./css/fonts.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Martin Hammerchmidt Portfolio</title>
    <meta
      name="description"
      content="Martin Hammerchmidt - Full-stack Developer Portfolio"
    />
    <meta property="og:title" content="Martin Hammerchmidt Portfolio" />
    <meta
      property="og:description"
      content="Martin Hammerchmidt - Full-stack Developer Portfolio"
    />
    <meta property="og:url" content="https://hammerchmidt.com" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta name="author" content="Martin Hammerchmidt" />
    <link rel="canonical" href="https://hammerchmidt.com" />
  </head>

  <body><slot /></body>
</html>
